<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edgar.yurihouse">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lily_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lily_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SearchActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.MangaActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity android:name=".Activities.AuthorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.CommentsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.CommentImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ReaderActivity" />
    </application>

</manifest>